<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>

  <body>
    <%- include('./common/_loader') %>
    <%- include('./common/_header') %>

    <main>
      <section class="l-blog p-blog">
        <%- include('./parts/_c-subFV', {pageTitle:'ブログ'}) %>
        <div class="p-blog__wrap">
          <%- include('./parts/_c-breadcrumb-list' ,{breadcrumb:'ブログ記事一覧'})
          %> <%- include('./parts/_p-search') %> <%-
          include('./parts/_p-blog-items',{name:'p-blog__items'}) %>
        </div>
        <div class="l-blog-pagination">
          <%- include('./parts/_c-pagination') %>
        </div>
      </section>
    </main>

    <%- include('./parts/_p-contact-section') %> <%- include('./common/_footer')
    %> <%- include('./parts/_c-btn-pageTop') %>
  </body>
</html>
