<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>

      <section class="p-blog-detail">
        <%- include('./parts/_c-breadcrumb-list' ,{breadcrumb:'ブログ記事一覧 > ブログ記事詳細'}) %>
        <div class="l-blog-detail__inner">
          <div class="l-blog-detail__side p-blog-head">


              <h2 class="p-blog-head__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>


            <%- include('./parts/_c-news-datecat') %>

            <div class="c-blog-eyeCatch p-blog-head__catch">
              <img src="../images/common/blog-eyecatch_pc.jpg" alt="eye-catch" class="pc-only">
              <img src="../images/common/blog-eyecatch_sp.jpg" alt="eye-catch" class="sp-only">
            </div>

            <div class="p-blog-head__body">
              <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>

          </div>

          <div class="l-blog-detail__side p-blog-contents">

            <div class="p-blog-contents__title">
              <h3 class="p-blog-contents__heading">見出し2</h3>
              <p class="p-blog-contents__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>

            <div class="p-blog-contents__subtitle">
              <h3 class="p-blog-contents__sub-heading"><span class="p-blog-contents__line">見出し３ 見出し３ 見出し３</span></h3>
              <p class="p-blog-contents__sub-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>

            <div class="c-blog-eyeCatch">
              <img src="../images/common/blog-image_pc.jpg" alt="blogimage" class="pc-only">
              <img src="../images/common/blog-image_sp.jpg" alt="blogimage" class="sp-only">
            </div>

            <div class="p-blog-contents__body">
              <ul class="p-blog-contents__bul-list">
                <li class="p-blog-contents__bul-item">・リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li class="p-blog-contents__bul-item">・リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li class="p-blog-contents__bul-item">・リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li class="p-blog-contents__bul-item">・リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
              </ul>
              <ol class="p-blog-contents__num-list">
                <li class="p-blog-contents__num-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li class="p-blog-contents__num-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li class="p-blog-contents__num-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li class="p-blog-contents__num-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
              </ol>
            </div>

          </div>

          <%- include('./parts/_c-pagination-simple') %>
        </div>
          <div class="l-blog-detail__relation">
            <%- include('./parts/_c-btn-article') %>
            <div class="p-blog-detail__cards">
              <% for(var i = 0; i < 4; i++) { %>
                <%- include('./parts/_c-blog-item',{category:'カテゴリ',img:'blog_1.jpg'}) %>
              <% } %>
            </div>
          </div>


      </section>


      <%- include('./parts/_p-contact-section') %>
      <%- include('./common/_footer') %>
      <%- include('./parts/_c-btn-pageTop') %>

  </body>
</html>
